/*
 font-family: arial, tahoma, serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    line-height: 1,15em;
*/


body {
    font: normal normal 12pt/1.15em arial, tahoma, sans-serif;
    background-color: #f7f5f4;
}

.header {
    padding: 20px 10px;
    border: 10px solid red;
    border-bottom: 10px dashed green;
    margin: 30px;
}

.header img {
    display:block;
    float:none;
    border: 15px solid yellow;
}

#header img {
    border: 10px solid yellow;
    
}

#header

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.53em
}


div { 
    font-family: arial;
    font-size: 1,3em;
    color: navy;
}

p {
    font-size: 14pt;
    line-height: 1.5em;
}

.czerwony{
    color: #bc2c21;
    
}

.pogrubiony{
    font-weight: bold;
}

.pochylony{
    font-style: italic;
}

.wyrozniony{
    color: #bc2c21;
    font-weight: bold;
    font-style: italic;
}

p.srodek{
    text-align: center;
    clear: both;
}

img{
    float: right;
}


#header {
    /*lewa wartosc top bottom, prawa right left
    przy 4 wartosciach - top right bottom left*/
    padding: 40px 20px 10px 5px;
    margin: 10px 5px 15px 20px;
    border-bottom: dotted blue;
    
}
