{% extends "szablon.html"%}
{% block h1%}Aplikacja QUIZ - rozwiąż quiz{% endblock%}
{% block tresc%}
<form method="POST">
        <ol>
        {% for p in pytania %}
            <li>
                {{ p.pytanie }}
                <ol>
                    {% for o in p.odpowiedzi %}
                        <ol>
                            <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
                            {{ o.odpowiedz }}
                        </ol>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
        </ol>

        <input type="submit" value="Prześlij">
    </form>{% endblock%}
